{% extends "base.html" %}

{% block content %}
    <div class="checker">
        <form action="" method="post" novalidate>
            <div class="checker-left">
                {{ form.codeField.label }}
                {{ form.codeField }}
            </div>
            <div class="checker-right">
                <div class="code-input">
                    {{ form.inputField.label }}
                    {{ form.inputField }}
                </div>
                <div class="code-out">
                    {{ form.outputField.label }}
                    {{ form.outputField }}
                </div>
            </div>
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}
