<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeChecker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="real-body">
        <header>
            <p>CodeChecker</p>
            <nav>
                <a href="#">Type1</a>
                <a href="#">Type2</a>
                <a href="#">Type3</a>
            </nav>
        </header>
        <hr>
        <main>
            <div class="checker">
                <form action="">
                    <div class="checker-left">
                        <textarea rows="3" cols="20" placeholder="Your code"></textarea>
                    </div>
                    <div class="checker-right">
                        <div class="code-input">
                            <textarea rows="3" cols="20" placeholder="Input data"></textarea>
                        </div>
                        <div class="code-out">
                            <textarea rows="3" cols="20" placeholder="Output data"></textarea>
                        </div>
                    </div>

                    <input type="submit" value="Submit">
                </form>
                <div class="result">

                </div>
            </div>
        </main>
        <hr>
        <footer>
            <p>Author: ihoriam</p>
            <p>Version: 0.1</p>
            <p>Technology: Python, Flask</p>
        </footer>
    </div>
</body>
</html>