<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeChecker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="real-body">
        <header>
            <p>CodeChecker</p>
            <nav>
                <a href="#">Type1</a>
                <a href="#">Type2</a>
                <a href="#">Type3</a>
            </nav>
        </header>
        <hr>
        <main>
            {% block content %}{% endblock %}
        </main>
        <hr>
        <footer>
            <p>Author: ihoriam</p>
            <p>Version: 0.1</p>
            <p>Technology: Python, Flask</p>
        </footer>
    </div>
</body>
</html>