{% extends "base.html" %}

{% block content %}
    <div class="checker">
                <form action="" method="post" novalidate>
                    <div class="checker-left">
{#                        <textarea rows="3" cols="20" placeholder="Your code"></textarea>#}
                        {{ form.codeField.label }}
                        {{ form.codeField }}
                    </div>
                    <div class="checker-right">
                        <div class="code-input">
{#                            <textarea rows="3" cols="20" placeholder="Input data"></textarea>#}
                            {{ form.inputField.label }}
                            {{ form.inputField }}
                        </div>
                        <div class="code-out">
{#                            <textarea rows="3" cols="20" placeholder="Output data"></textarea>#}
                            {{ form.outputField.label }}
                            {{ form.outputField }}
                        </div>
                    </div>

{#                    <input type="submit" value="Check!">#}
                    {{ form.submit() }}
                </form>
            </div>
{% endblock %}
